<!Doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

</head>
<body>
<% include header.ejs %>

<div class="container-fluid">
<div class="line">
  <div class="col-md-9">
      <div class="panel panel-default">
            <div class="panel-heading">Tasks
			<button type="button" id="addButton" class="btn btn-primary btn-sm pull-right">Add Task</button>
			</div>
                <div class="panel-body">
				<table class="table">
				<thead>
				<tr>
				<th>5 star</th>
				<th>4 star</th>
				<th>3 star</th>
				<th>2 star</th>
				<th>1 star</th>
				</tr>
				</thead>
				<tbody>
				<tr>
				<td>
				<div class="row">
    <div class="col">
      <div class="card">
          <div class="card-content">
          <p>Submit functionality not working</p>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        
      </div>
    </div>

  </td>
				<td>
    <div class="col">
      <div class="card">
          <div class="card-content">
          <p>Profile picture not displayed</p>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        
      </div>
    </div>
  </div>
				</td>
				<td>
				
    <div class="col">
      <div class="card">
          <div class="card-content">
          <p>Link to comments broken</p>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        
      </div>
    </div>
  
				</td>
				<td>
				
    <div class="col">
      <div class="card">
          <div class="card-content">
          <p>Sound not playing in video</p>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        
     
    </div>
  </div>
				</td>
				<td>
			
    <div class="col">
      <div class="card">
          <div class="card-content">
          <p>This is very simple task</p>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        
     
    </div>
  </div>
				</td>
				</div>
				</tr>
				</tbody>
				</table>
				</div>
        </div>
  </div>
    <div class="col-md-3" >
        <div class="panel panel-default">
            <div class="panel-heading">Leaderboard</div>
                <div class="panel-body"></div>
        </div>
    </div>



    <div class="col-md-9">
        <div class="panel panel-default">
        <div class="panel-heading">Bitbucket Updates</div>
                <div class="panel-body" style="height: 250px;overflow-y: auto;">
                    <%var count = 1;%>
                    <%for(var commit in commitsArray) {%>
                    <p><%=count%>. Author: <%=commitsArray[commit].author%></p>
                    <p>Date: <%=commitsArray[commit].date%></p>
                    <p>Repository: <%=commitsArray[commit].reponame%></p>
                    <p>Message: <%=commitsArray[commit].message%></p>
                    <%count++;%>
                   <% }%>
                   <br>
                </div>
</div>
    </div>
    <div class="col-md-3" >
        <div class="panel panel-default">
            <div class="panel-heading">Chat</div>
                <div class="panel-body" style="height: 250px;">
                    <script id="cid0010000158966799975" data-cfasync="false" 
                    async src="http://st.chatango.com/js/gz/emb.js" style="width:270px;height:235px;">
                    {"handle":"teamrubick","arch":"js","styles":{"b":100,"v":0,"w":0,"p":10,"cnrs":0.25,"usricon":0.75}}</script>
                </div>
        </div>
    </div>
</div>
</div>

<% include footer.ejs %>
</body>

</html>