<!Doctype html>
<html lang="en">
<head>
<title>Rubick</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/main.css">
</head>
<body>
<% include header.ejs %>
<h1>Rubick</h1>
<div class="container-fluid">
<h2> Rubick lets you work more </h2>
<h2 id="tw">collaboratively and get more done. </h2>
<img id="homeImage" src="../static/bootstrap/img/team-collaboration.png">
</div>

<% include footer.ejs %>
</body>

</html>