<body>
<% include header.ejs %>
<h1>Rubick</h1>
<div class="container-fluid">
<h2> Rubick lets you work more </h2>
<h2 id="tw">collaboratively and get more done. </h2>
<a id="goToHome" style="display:none">hello</a>
<img id="homeImage" src="../static/bootstrap/img/team-collaboration.png">
</div>
<script src="https://code.jquery.com/jquery-3.2.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script src="../static/bootstrap/js/main.js"></script>
<% include footer.ejs %>

</body>
